
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
  }

body {
    background-image: url(imgs/background3.JPG);
    overflow: hidden;
    display: flex;
    margin: 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 180s linear alternate infinite;
}

#transparent-section {
    margin: 0px;
    flex: 0.05;
}


#main-section {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    flex: 0.95;
    background-image: linear-gradient(to right, transparent, blue, blue, blue);
}

#info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-image {
    display: flex;
    position: relative;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#main-content {
    /* margin-left: 20vw; */
    color: white;
    /* font-family: 'Brush Script MT', cursive; */
    margin-top: 50vh;
    margin-left: -20vw;
    padding-top: 20px;
    font-size: x-large;
    text-shadow: #222;
    text-align: center;
    /* max-width: 30vw; */
    display: flex;
    flex-direction: row;
}